div.carré {
    position: relative;
    width: 200px ;
    height: 200px;
    background-color: rgb(255, 0, 0);
    border-radius: 100%;
    display: inline-block



}
div {position: absolute;


}

div.rond{
    margin: 30px;
    width: 140px;
    height:140px ;
    background-color: rgb(92, 175, 44);
    border-radius: 100%;

}

div.rond2
{ width: 70px;
    height:70px ;
    background-color: rgb(31, 101, 158);
    border-radius: 100%;
    margin:25%;


}